In [227]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/us-baby-names/StateNames.csv
/kaggle/input/us-baby-names/NationalReadMe.pdf
/kaggle/input/us-baby-names/hashes.txt
/kaggle/input/us-baby-names/NationalNames.csv
/kaggle/input/us-baby-names/StateReadMe.pdf
/kaggle/input/us-baby-names/database.sqlite

# choosing a baby

## first let's import the libraries

In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Now that we have the libraies, we gonna import our data from the kaggle US babies names so that we can process and analyze this data

In [229]:
data = pd.read_csv("../input/us-baby-names/NationalNames.csv")

## Now that we have our data let analyze and know how many colomun and raws it composed of:

In [230]:
data.shape

(1825433, 5)

## Now to communicate with the data we need to have the head colum and raw:

In [231]:
data.head()

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

## so we have 5 variable: id, name, year, gender and count

### for me to choose a baby name, i have so many option that i can not go throught all. so i'm specifie the babies gender. for that we have to know how many genders are in our data file.

In [232]:
data['Name'].nunique()
'to gather the same names'

'to gather the same names'

In [233]:
data['Gender'] = data['Gender'].astype('category').cat.codes

In [234]:
df = data.groupby('Name').mean()['Gender'].reset_index()
df['Gender'] = df['Gender'].astype('int')
df.head()

        Name  Gender
0      Aaban       1
1      Aabha       0
2      Aabid       1
3  Aabriella       0
4      Aadam       1

### the above code make all the gender in different number. all the same gender have the same number. so here we have 1 and 0. we have one for male and 0 for female.


#### Now even thought i know the genre are just two, i can't still go throught all the name to choose a name. so i am going to creat a function that give the lettre of the a id number. so that i'm  able to say to choose the baby name's first lettre.

In [235]:
import string
# now im going to create two dictionaries that attache every letter of the alphabet a number.

In [236]:
letters = list(string.ascii_lowercase)
letters

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [237]:
vocab = dict(zip(letters,range(1,27)))
vocab

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [238]:
r_vocab = dict(zip(range(1,27),letters))
r_vocab

{1: 'a',
 2: 'b',
 3: 'c',
 4: 'd',
 5: 'e',
 6: 'f',
 7: 'g',
 8: 'h',
 9: 'i',
 10: 'j',
 11: 'k',
 12: 'l',
 13: 'm',
 14: 'n',
 15: 'o',
 16: 'p',
 17: 'q',
 18: 'r',
 19: 's',
 20: 't',
 21: 'u',
 22: 'v',
 23: 'w',
 24: 'x',
 25: 'y',
 26: 'z'}

In [239]:
def word_to_number():
  for i in range(0,df.shape[0]):
    seq = [ vocab[letters.lower()] for letters in df['Name'][i] ]
    df['Name'][i] = seq

In [240]:
word_to_number()

/tmp/ipykernel_34/4251091708.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'][i] = seq

#### let see the list now

In [197]:
df.head()

                             Name  Gender
0                [1, 1, 2, 1, 14]       1
1                 [1, 1, 2, 8, 1]       0
2                 [1, 1, 2, 9, 4]       1
3  [1, 1, 2, 18, 9, 5, 12, 12, 1]       0
4                [1, 1, 4, 1, 13]       1

In [241]:
x = df['Name'].values
y = df['Gender'].values

In [242]:
name_length = [ len(x[i]) for i in range(0,df.shape[0]) ]

In [260]:
def first_letter():
    while True:
        g = int(input("Write 1 for male, or 0 for female: "))
        if g == 0 or g == 1:
            break
        print("Invalid input, please enter 0 or 1.")
    
    while True:
        n = int(input("Enter a number from 1 to 26 for the first lettre: "))
        if n >= 1 and n <= 26:
            break
        print("Invalid input, please enter a number from 1 to 26.")
    
    l = int(input("Enter the length of a name: "))
   
    for i in range(df.shape[0]):
        if df['Name'][i][0] == n and len(df['Name'][i]) == l and df['Gender'][i] == g:
            seq = [r_vocab[num] for num in df['Name'][i]]
            print(''.join(seq))

In [261]:
def number_to_word():
    for i in range(0, df.shape[0]):
        seq = [r_vocab[num] for num in df['Name'][i]]
        df['Name'][i] = ''.join(seq)

In [262]:
first_letter()

Write 1 for male, or 0 for female:  1
Enter a number from 1 to 26 for the first lettre:  2
Enter the length of a name:  5

babak
baber
bacil
badal
baden
bader
bahaa
baine
baird
bairo
baize
bakar
bakir
balal
balam
baldo
balen
baler
balil
balin
balke
banan
banks
baqir
barak
bardo
barek
baren
barin
baris
barny
baron
barre
barth
barto
bartt
bartu
barty
baruc
baryn
basel
basem
basim
basir
basit
bates
bauer
bavly
bayne
bayro
bayze
bazel
bazil
beach
beale
bearl
bejan
bekam
bekim
belal
benas
bence
benen
bengi
bengt
bengy
benie
benje
benjy
benno
bentz
berat
berek
berel
berge
beric
beril
berke
bernd
berne
bernt
berny
berto
besim
betim
bevis
bevon
beyan
bibek
bidal
bilbo
bimal
bimbo
biran
birch
biren
biron
biruk
bison
bjorn
blace
blade
blaid
blaik
blaiz
bland
blase
blass
blayd
blayk
blayn
blayz
blong
blynn
boady
bobak
boban
bocar
bodan
boden
bodey
bodie
bodin
bodyn
boede
boedy
bogar
bohan
bohdi
bohen
boice
boise
boisy
bojan
bomer
boney
boone
booth
boran
boris
borna
borys
bosco
bosie
bowan
bowdy
bower
bowin
boyan
boyde
boyed
brace
brach
brack
bradd
brage
brahm
brann
braun
brave
bravo
braxx
brayn
breno
brete
briam
brick
brigg
brink
brint
broch
brode
broly
bronc
broox
bruin
bruke
bruno
bryam
brycn
bryen
bryin
brynt
bryor
bubba
bubby
bucky
buell
bugra
bulut
bundy
burak
bural
burce
burch
burel
buren
burie
burim
burle
burns
buron
buruk
buryl
butch
buzzy
bwana
byard
bynum
byran
byrce
byren
byrne
byrum
byson

## And just like that you i can choose a name for my baby